{% extends 'base.html' %}

{% block title %} Anasayfa - {{ block.super }}  {% endblock %}

{% block body %}

{# 		<a href="{% url 'detail' id=home.id %}">{{ home.title}}</a><br>  #}
			 

            <section id="home-slider" class="owl-carousel owl-theme wf100 p0">
           	{% for home in home  %}
            <div class="item">
               <div class="slider-caption h1slider">
                  <div class="container">
                  	
                     <strong>Ecova<span> is the Best</span></strong>
                     <h1>{{ home.title}}</h1>
                     <p>Nonprofit WordPress Theme</p>
                     <a href="{{home.get_absolute_url}}" class="active">Devamını Oku</a> 
                  </div>
               </div>
               <img src="{{ home.image.url }}"  alt=""> 
            </div>
		{% endfor %} 
	</section>
<br>
--------------------------------

{% for i in welcome %}

{{ i.title }}

{% endfor %}



------------------------

		<div class="what">
			<div class="con
				</div>
				<div class="news-section">
					<div class="container">
						<div class="news-header">
				<h3>News & articles</h3>
				<p>Pellentesque enim justo, lacinia egestas semper ut, gravida vitae enim. Sed maximus est eget.</p>
				</div>
				</div>
				<div class="news-grids">
				<div class="col-md-6 news-grid">
<a href="images/img6.jpg" class="swipebox"><img src="/media/img6.jpg" /></a>
					<div class="news-info">
						<h4>Steady growth for your farm!</h4>
						<p>09/01/2015</p>
						<a href="#" class="button1"> read the news</a>
						</div>
					</div>
					<div class="col-md-6 news-grid1">
						<div class="news-grid2">
<a href="images/img7.jpg" class="swipebox"><img src="/media/img7.jpg" /></a>
						<div class="news-info1">
						<h4>The best apples!</h4>
						<p>19/04/2015</p>
						<a href="#" class="button1"> read the news</a>
						</div>
						</div>
						<div class="news-grid3">
<a href="images/img8.jpg" class="swipebox"><img src="/media/img8.jpg" /></a>
						<div class="news-info1">
						<h4>It’s a hard work!</h4>
						<p>29/02/2015</p>
						<a href="#" class="button1"> read the news</a>
						</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="google-map">
	
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.364377635444!2d32.97102401003804!3d36.10547930604323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14dc1926b11186cd%3A0xddc84ce4c338b5f7!2zQmHFn2FrIFRhcsSxbQ!5e0!3m2!1str!2s!4v1584581728934!5m2!1str!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
		<div class="contact-section"  style="background-image: url('/media/banner.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; ">
			<div class="container">
				<h3> LEAVE US A MESSAGE</h3>
				<div class="contact-grid">
			<div class="col-md-4 contactgrid">
				<input type="text" class="text" value=" name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' name';}">
				</div>
				<div class="col-md-4 contactgrid">
				<input type="text" class="text" value="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'email';}">
				</div>
				<div class="col-md-4 contactgrid">
				<input type="text" class="text" value="phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'phone';}">
				</div>
				<div class="clearfix"> </div>
				<div class="col-md-12 contactgrid1">
				<textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
				</div>
				<div class="contactgrid2">
				<input type="button" value="send message">
			   </div>
			   
				</div>

				</div>
			</div>
			<div class="footer-section">
				<div class="container">
					<div class="footer-top">
								<div class="social-icons">
										<a href="#"><i class="icon1"></i></a>
										<a href="#"><i class="icon2"></i></a>
										<a href="#"><i class="icon3"></i></a>
									</div>
								</div>

					<div class="footer-bottom">
									<p> Copyright &copy;2015  All rights  Reserved | Template by<a href="http://w3layouts.com" target="target_blank">W3Layouts</a></p>
									</div>
									 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a class="scroll" href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

								</div>
							</div>
						</section>

{% endblock %}


{% if yedek %}

            <section id="home-slider" class="owl-carousel owl-theme wf100 p0">
           	{% for home in home  %}
            <div class="item">
               <div class="slider-caption h1slider">
                  <div class="container">
                  	
                     <strong>Ecova<span> is the Best</span></strong>
                     <h1>{{ home.title}}</h1>
                     <p>Nonprofit WordPress Theme</p>
                     <a href="#" class="active">Find Out More</a> <a href="#">Join us Now</a> 
                  </div>
               </div>
               <img src="{{ home.image.url }}"  alt=""> 


            </div>
{% endfor %} 
         </section>


   {% endif %}
        


